@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #0C142C;
  color: white;
}

.metallic-textured-background {
  background-image: url('./assets/metallic.png'), linear-gradient(145deg, rgba(18, 40, 78, 0.4), rgba(0, 0, 0, 0.3));
  background-blend-mode: multiply;
  background-color: #355284; /* Main color */
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (prefers-color-scheme: dark) {
  .metallic-textured-background {
    background-image: url('./assets/metallic.png'), linear-gradient(145deg, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6));
    background-color: #355284; /* Main color in dark mode */
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
  }
}


::-webkit-scrollbar{
  display: none;
}
